---
layout: home
permalink: /
---
<!-- 
*
* § Hero
*
-->
<section class="hero">
  <article class="yellow-card-bg grid grid-blade">
    <div class="image-area">
      {% include svg-initial.svg %}
    </div>
    <div class="text-area">
      <h1>{% include logoform.html gray='true' %}</h1>
      <p class="lead">​Share&nbsp;your&nbsp;story. Spark&nbsp;connection. Shape&nbsp;what’s&nbsp;next.</p>
      <p><small>August 16 & 17, 2025 · Toronto</small></p>
      <p>A conference + unconference for organizers, innovators, and community builders interested in creating a more equitable future of public life.</p>
      <div class="cta-buttons">
        <a role="button" href="{{ site.data.links.registration }}" target="_blank" class="contrast">Register{% include ext-arrow.html %}</a>
        <a role="button" href="#event-overview" class="contrast outline">Learn More</a>
      </div>
    </div>
  </article>
</section>
<!-- 
*
* § Event Overview
*
-->
<section id="event-overview">
  <div class="inset-section">
    <h2>Event Overview</h2>
    <p class="lead">Civic Spark is a gathering for people who care about the future of public life.</p>
    <p>We're bringing together organizers, technologists, public servants, mutual aid networks, researchers, designers, and community leaders from across North America.</p>
    <p>This isn’t a pitch stage or a showcase. It’s a space to share real stories, challenge assumptions, and explore what works — and what doesn’t — when building for civic impact.</p>
    <p>Whether you’re deep in the work or just getting started, you’re invited.</p>
    <div class="cta-buttons">
      <a role="button" class="contrast outline" href="#why-now">Read More</a>
    </div>
  </div>
  
  <!-- 
  *
  * § Overview: Why Now
  *
  -->
  <section id="why-now">
    <article class="magenta-card-bg grid grid-blade">
      <div class="image-area">
        {% include svg-respite.svg %}
      </div>
      <div class="text-area">
        <h3>Why Now</h3>
        <p>Today's challenges are big, and the work can feel fragmented, exhausting, and unclear. <strong>Civic Spark is a chance to reconnect</strong> — with purpose, with people, and with the possibilities of what we can build together.</p>
        <ul>
          <li>Let’s share what’s working — and name what’s not.</li>
          <li>Let’s build across disciplines, roles, and lived experience.</li>
          <li>Let’s co-create what’s next.</li>
        </ul>
        <p>We believe civic infrastructure can be resilient, public trust can be restored, and those most impacted can lead the way forward.</p>
        <div class="cta-buttons">
          <a role="button" class="contrast outline" href="#who-should-attend">Who is invited?</a>
        </div>
      </div>
    </article>
  </section>
  <!-- 
  *
  * § Overview: Who Should Attend
  *
  -->
  <section id="who-should-attend">
    <article class="grid grid-blade reversed">
      <div class="image-area">
        {% include svg-bicycling.svg %}
      </div>
      <div class="text-area">
        <h3 class="colorized-orange">Who Should Attend</h3>
        <p class="lead colorized-orange">
          If you're building something better — whether that’s a community, a project, a policy, or a platform — Civic Spark is for you.
        </p>
        <p>Maybe you want to be a:</p>
        <ul>
          <li><strong class="colorized-orange">public servant</strong> working collaboratively with communities.</li>
          <li><strong class="colorized-orange">grassroots organizer</strong> exploring tech or data as a tool for justice.</li>
          <li><strong class="colorized-orange">mutual aid volunteer</strong> making things work with what you’ve got.</li>
          <li><strong class="colorized-orange">designer</strong>, <strong class="colorized-orange">technologist</strong>, or <strong class="colorized-orange">researcher</strong> committed to public interest work.</li>
          <li><strong class="colorized-orange">student</strong> or <strong class="colorized-orange">newcomer</strong> looking to learn, connect, and contribute.</li>
        </ul>
        <p>Or someone who's <strong class="colorized-orange">just figuring out where you fit</strong> — but knows things need to change — whether formally or informally, institutionally or on the ground — you are invited.</p>
        <div class="cta-buttons">
          <a role="button" class="secondary" href="{{ site.data.links.registration }}" target="_blank">Register{% include ext-arrow.html %}</a>
          <a role="button" class="secondary outline" href="#what-to-expect">What can I expect?</a>
        </div>
      </div>
    </article>
  </section>
</section>
<!-- 
*
* § What to Expect
*
-->
<section id="what-to-expect">
  <H2>What to Expect</H2>
  <div class="grid grid-blade">
    <article>
      <div class="image-area colorized-magenta">
        {% include svg-converse.svg %}
      </div>
      <hgroup>
        <h3 class="colorized-magenta">The Conference</h3>
        <p class="colorized-magenta">​​Saturday, Aug 16</p>
      </hgroup>
      <p>A set schedule of <strong class="colorized-magenta">stories, sessions,</strong> and <strong class="colorized-magenta">shared lessons</strong> from people building community-powered tools, services, and networks. It’s a space to share what’s working, reflect on hard-won lessons, and explore new ideas together.</p>
      <div class="cta-buttons">
      <a role="button" class="outline" href="{{ '/conference' | relative_url }}">See the schedule</a>
      </div>
    </article>
    <article>
      <div class="image-area colorized-orange">
        {% include svg-lightbulbs.svg %}
      </div>
      <hgroup>
        <h3 class="colorized-orange">The Unconference</h3>
        <p class="colorized-orange">​Sunday, August 17</p>
      </hgroup>
      <p>A day of <strong class="colorized-orange">workshops</strong> and <strong class="colorized-orange">sessions created by participants</strong>. Anyone can propose a session. Anyone can host. This is where we dive deeper, get hands-on, explore tough questions, and connect around shared interests.</p>
      <div class="cta-buttons">
      <a role="button" class="secondary outline" href="{{ '/unconference' | relative_url }}">Read about the unconference</a>
      </div>
    </article>
  </div>
</section>

<section>
  <div class="inset-section">
    <h2>Supporters</h2>
    <p>
      Civic Spark is made possible by the generous support of our sponsors and partners. Their commitment to civic innovation and community building helps us create a space for meaningful connection and collaboration.
    </p>
    <p>
      This event is organized by <a href="{{ site.data.links.civictechtoronto }}" target="_blank">Civic Tech Toronto</a> and <a href="{{ site.data.links.one-rg }}" target="_blank">1RG</a>, with support from <a href="{{ site.data.links.carte }}" target="_blank">CARTE</a>.
    </p>
  </div>
</section>