<footer class="footer container">
  <div>
    {% include logoform.html gray='true' %}
    <p>​Share&nbsp;your&nbsp;story. Spark&nbsp;connection. Shape&nbsp;what’s&nbsp;next.</p>
    </div>
  <div class="grid">
    <div>

    <aside class="grid">
      <nav>
        <ul>
          <li>General Information</li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/location">Event Location</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>Programming</li>
          <li><a href="/conference">Conference</a></li>
          <li><a href="/unconference">Unconference</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>Media</li>
          <li><a href="/media-kit">Media Kit</a></li>

        </ul>
      </nav>
      <nav>
        <ul>
          <li>Take Action</li>
          <li><a href="{{ site.data.links.registration }}" target="_blank">Attend{% include ext-arrow.html %}</a></li>
          <li><a href="{{ site.data.links.volunteer }}" target="_blank">Volunteer{% include ext-arrow.html %}</a></li>
        </ul>
      </nav>
    </aside>
    </div>

    <!-- {% include signup-form.html %} -->
  </div>
  <br/>
  <p><small>{{ site.title }} &emsp;·&emsp; August 16 & 17, 2025 &emsp;·&emsp; Myhal Centre, University of Toronto &emsp;·&emsp; <a href="{{ site.data.links.codeofconduct }}" target="_blank">code of conduct{% include ext-arrow.html %}</a> &emsp;·&emsp; <a href="{{ site.data.links.privacy }}" target="_blank">privacy policy{% include ext-arrow.html %}</a></small></p>
</footer>