 <header class="container">
  <nav>
    <ul>
      <li>
        <a href="{{ '/' | relative_url }}" >
        {% include logoform.html %}
        </a>
      </li>
    </ul>
    <ul>
      {% if site.data.nav-primary.sub_nav %}
      <li class="show-mobile">
        <details class="dropdown">
          <summary>
            {{ site.data.nav-primary.sub_nav_title }}
          </summary>
          <ul dir="rtl">
            {% for item in site.data.nav-primary.sub_nav %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </li>
      {% for item in site.data.nav-primary.sub_nav %}
      <li class="hide-mobile"><a class="contrast" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endfor %}
      {% endif %}
      {% for item in site.data.nav-primary.nav %}
      <li>
        <button class="contrast" onclick="window.open('{{ item.url }}', '_blank')">{{ item.title }}{% if item.external %}{% include ext-arrow.html %}{% endif %}</button>
      </li>
      {% endfor %}
  </ul>
  </nav>
</header>