

<div class="signup-form">
    <h2>Sign up for updates</h2>
    <p>Be the first to know when registration opens and how you can get involved.</p>
    
    <form action="https://civic-spark.us16.list-manage.com/subscribe/post?u=51235052bc75cdae64b539257&amp;id=5f2e5156bb&amp;f_id=00dec2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
        <fieldset>
        <legend><span class="asterisk">*</span> indicates required</legend>
        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="">
        </label>
        <div class="grid">
            <label for="mce-FNAME">First Name 
                <input type="text" name="FNAME" class=" text" id="mce-FNAME" value="">
            </label>
            <label for="mce-LNAME">Last Name 
                <input type="text" name="LNAME" class=" text" id="mce-LNAME" value="">
            </label>
        </div>
        <fieldset>
            <legend>I’d also like to find out about… </legend>
            <label for="mce-group[1]-1-0">
                <input type="checkbox" name="group[1][1]" id="mce-group[1]-1-0" value="">
                volunteering at the conference
            </label>
            <label for="mce-group[1]-1-1">
                <input type="checkbox" name="group[1][2]" id="mce-group[1]-1-1" value="">
                speaking at the conference
            </label>
            <label for="mce-group[1]-1-2">
                <input type="checkbox" name="group[1][4]" id="mce-group[1]-1-2" value="">
                sponsorship or partnership opportunities
            </label>
            </fieldset>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things – do not remove this or risk form bot signups */
            <input type="text" name="b_51235052bc75cdae64b539257_5f2e5156bb" tabindex="-1" value="">
        </div>
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
        </fieldset>
    </form>
</div>