/*
 * 
 * GENERAL
 *
 */

html {
  scroll-behavior: smooth;
}

.svg-include {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*
 * 
 * LAYOUT 
 *
 */

/*
 * 
 * BREAKPOINTS
 *
 */

.grid-blade {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show-mobile {
  display: none;
}
.hide-mobile {
  display: inline-block;
}

@media (min-width: 576px) {
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .show-mobile {
    display: inline-block;
  }
  .hide-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .grid-blade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
  }
  .reversed {
    grid-template-areas: "text image";
  }
  .inset-section {
    max-width: 860px;
    margin: 4rem auto;
  }
  .text-area {
    padding: 2rem 1rem;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}

.image-area {
  grid-area: image;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-area {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: left;
  vertical-align: middle;
  justify-content: center;
  text-align: left;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
 * 
 * TYPOGRAPHY 
 *
 */

.lead {
  font-size: 125%;
  line-height: 1.55;
}

.external-arrow {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    Helvetica, Arial, "Helvetica Neue", sans-serif;
}

/*
 * 
 * WORDMARK
 *
 */

.logoform {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.spark {
  height: 2rem;
  width: auto;
  display: inline-block;
}

.wordmark {
  font-family: "Bitter", serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--cust-black);
}

@media (max-width: 767px) {
  nav .logoform {
    gap: 0.125rem;
    margin-top: 0.5rem;
  }

  nav .spark {
    height: 1.8rem;
    width: auto;
  }
  nav .wordmark {
    font-family: "Bitter", serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cust-black);
  }
}

/*
 * 
 * COLORIZATION 
 *
 */

.yellow-card-bg {
  background-color: var(--cust-yellow-pale);
  border-bottom: 0.75rem solid var(--cust-yellow);
}

.magenta-card-bg {
  background-color: var(--cust-magenta-pale);
  color: var(--cust-black);
  border-bottom: 0.75rem solid var(--cust-magenta);
}

.magenta-card-bg * {
  color: var(--cust-black);
  fill: var(--cust-black);
}

.colorized-white {
  color: var(--cust-white);
}

.colorized-white path {
  fill: var(--cust-white);
}

.colorized-magenta {
  color: var(--cust-magenta);
}

.colorized-magenta path {
  fill: var(--cust-magenta);
}

.colorized-orange {
  color: var(--cust-orange-dim);
}

.colorized-orange path {
  fill: var(--cust-orange);
}

/* custom large button */
.large {
  --pico-form-element-spacing-vertical: 0.4375rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
  font-size: 1.25rem;
}

.cta-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .cta-buttons {
    display: block;
    text-align: center;
    /* flex-direction: row; */
    /* gap: 0.5rem; */
  }
  .cta-buttons .large {
    margin: 0.25rem;
  }
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.session-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: block;
  background-color: var(--cust-white);
  border-radius: var(--pico-border-radius);
  padding: 1rem;
  box-shadow: var(--pico-group-box-shadow);
  transition: all 0.5s ease-in-out;
}

.cardLink,
.cardLink * {
  text-decoration: none;
  color: var(--cust-black);
}

.cardLink {
  background-size: 200% 200%;
  transition: background-position 5s ease, transform 0.25s ease;
}

.cardLink:hover {
  transform: translate(0, -0.25rem);
  /* box-shadow: var(--pico-group-box-shadow-focus-with-button); */
  background-image: linear-gradient(
    -45deg,
    var(--cust-magenta-pale),
    var(--cust-yellow-pale)
  );
  background-position: 100% 100%;
}

.headshot {
  width: 100%;
  aspect-ratio: 4 / 5;
  height: auto;
  border-radius: var(--pico-border-radius);
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

/* Session Objects */

.sessionHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* tags */

.tag {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

.formatTag {
  background-color: var(--cust-white);
  color: var(--pico-muted-color);
  border: var(--pico-border-width) solid var(--cust-magenta-pale);
}

.locationTag {
  background-color: var(--cust-yellow);
  color: var(--cust-black);
  border: var(--pico-border-width) solid var(--cust-yellow);
}
.locationTag.alt {
  background-color: var(--cust-magenta);
  color: var(--cust-white);
  border: var(--pico-border-width) solid var(--cust-magenta);
}
